In [30]:
import pandas as pd
import numpy as np

In [31]:
from pandas import Series, DataFrame

In [32]:
s = Series([10, 20, 30, 40, 50])
type(s)

pandas.core.series.Series

In [33]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [34]:
s.dtype

dtype('int64')

In [35]:
s.values

array([10, 20, 30, 40, 50])

In [36]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
d = {'a': 10, 'b': 20, 'c': 30}
s2 = Series(d)
s2

a    10
b    20
c    30
dtype: int64

In [38]:
s2.index

Index(['a', 'b', 'c'], dtype='object')

In [39]:
a = np.random.randint(0, 100, 5)
s3 = Series(a)

In [40]:
s3

0    49
1    57
2     3
3    68
4    24
dtype: int32

In [41]:
import random

random_numbers = random.sample(range(0, 101), 10)
random_numbers

[45, 40, 11, 29, 73, 26, 77, 78, 92, 80]

In [42]:
# np.arange(10, 21, 3) creates values starting from 10 up to (but not including) 21, with a step of 3.
# The sequence is: 10, 13, 16, 19. 22 would be next, but it's >= 21, so it's excluded.
# That's why there are 4 numbers, not 3.
s4 = Series(np.arange(10, 21, 3))
s4

0    10
1    13
2    16
3    19
dtype: int64

In [43]:
s = Series(np.random.randint(0, 100, 10))

In [44]:
s.dtype
s.values

array([43, 76, 26, 52, 80, 41, 82, 15, 64, 68], dtype=int32)

In [45]:
s[2]

np.int32(26)

In [46]:
s[2] = 222

In [47]:
s

0     43
1     76
2    222
3     52
4     80
5     41
6     82
7     15
8     64
9     68
dtype: int32

In [48]:
s[2:5]

2    222
3     52
4     80
dtype: int32

In [49]:
91 in s.values

False

In [50]:
s.iloc[-1] # Positional indexer for the last element

np.int32(68)

In [51]:
s.loc[0]

np.int32(43)

In [52]:
#mysql on port 3306 X protocol port 33060

In [53]:
s = Series([10, 20, 30], index=[i * 10 for i in range(3)])

In [54]:
s

0     10
10    20
20    30
dtype: int64

In [55]:
s[20]

np.int64(30)

In [56]:
s.iloc[1]

np.int64(20)

In [57]:
s.loc[20]

np.int64(30)

In [58]:
mylist = [10, 20, 30, 40, 50]
s2 = Series(mylist)
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [59]:
s2.index = ["a", "b", "c", "d", "e"]

In [60]:
s2.loc["c"]

np.int64(30)

In [61]:
s2["c"] = 222

In [62]:
s2

a     10
b     20
c    222
d     40
e     50
dtype: int64

In [63]:
s2.loc["a": "c"]

a     10
b     20
c    222
dtype: int64

In [64]:
mylist = [10, 20, 30, 40, 50]
# Duplicated indexes are allowed in Series.
s2 = Series(mylist, index=["a", "b", "a", "d", "e"])
s2

a    10
b    20
a    30
d    40
e    50
dtype: int64

In [65]:
s2.loc["a"]

a    10
a    30
dtype: int64

In [66]:
np.random.seed(42)  # For reproducibility
s = Series(np.random.randint(0, 1000, 15))

In [67]:
s.head()

0    102
1    435
2    860
3    270
4    106
dtype: int32

In [68]:
s.sum()

np.int64(4854)

In [69]:
s.max()

np.int32(860)

In [70]:
s.mean()

np.float64(323.6)

In [71]:
s.std()

np.float64(257.5812770480694)

In [72]:
s1 = Series([10, 20, 30, 40, 50])
s2 = Series([100, 200, 300, 400, 500])

s3 = s1 + s2
s3

0    110
1    220
2    330
3    440
4    550
dtype: int64

In [73]:
np.random.seed(1)  # For reproducibility
index = [chr(i) for i in range(ord('a'), ord('j')+1)]
s = Series(np.random.randint(0, 100, 10), index=index)
s

a    37
b    12
c    72
d     9
e    75
f     5
g    79
h    64
i    16
j     1
dtype: int32

In [74]:
s["b"]
s.iloc[1]  # Both return the value at index 'b' or position 1

np.int32(12)

In [75]:
pd.concat([s["c":"d"], s[["f"]]])

c    72
d     9
f     5
dtype: int32

In [76]:
s2 = pd.concat([s["a":"a"], s["e":"e"], s["g":"h"]])

In [77]:
s2

a    37
e    75
g    79
h    64
dtype: int32

In [78]:
s2.mean()

np.float64(63.75)

In [79]:
s.iloc[0:10:2].mean()

np.float64(55.8)

In [80]:
s[s%2 != 0].mean()

np.float64(34.333333333333336)

In [81]:
s3, s4 = s.loc["a": "e"], s.loc["f": "j"]
s4.index = list("abcde")
s4

a     5
b    79
c    64
d    16
e     1
dtype: int32

In [82]:
s3 + s4

a     42
b     91
c    136
d     25
e     76
dtype: int32

In [83]:
np.random.seed(42)  # For reproducibility
s = Series(np.random.uniform(0, 1000, 10))

In [84]:
s

0    374.540119
1    950.714306
2    731.993942
3    598.658484
4    156.018640
5    155.994520
6     58.083612
7    866.176146
8    601.115012
9    708.072578
dtype: float64

In [85]:
from numpy import int64


s[s.astype(int64)%2 == 0] = np.nan  # Set even indexed values to NaN

In [86]:
s

0           NaN
1           NaN
2    731.993942
3           NaN
4           NaN
5    155.994520
6           NaN
7           NaN
8    601.115012
9           NaN
dtype: float64

In [87]:
s.mean()

np.float64(496.3678246302722)

In [88]:
s[s.isna()] = s.mean()  # Replace NaN values with 0

In [89]:
s

0    496.367825
1    496.367825
2    731.993942
3    496.367825
4    496.367825
5    155.994520
6    496.367825
7    496.367825
8    601.115012
9    496.367825
dtype: float64

In [90]:
s.mean()

np.float64(496.3678246302722)

In [91]:
s1 = Series(("123 456 789 111 222 333 444 555 666 777").split(), 
            index=list("abcdefghij"))
s1

a    123
b    456
c    789
d    111
e    222
f    333
g    444
h    555
i    666
j    777
dtype: object

In [92]:
s.index = list("abcdeabcde")

In [93]:
s

a    496.367825
b    496.367825
c    731.993942
d    496.367825
e    496.367825
a    155.994520
b    496.367825
c    496.367825
d    601.115012
e    496.367825
dtype: float64

In [94]:
s3 = s.add(s1, fill_value=0)  # Add s1 to s, filling missing values with 0

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
s1 = Series(("123 456 789 111 222 333 444 555 666 777").split(), 
            index=list("abcdefghij"), dtype=int64)
s1

a    123
b    456
c    789
d    111
e    222
f    333
g    444
h    555
i    666
j    777
dtype: int64

In [ ]:
s3 = s.add(s1, fill_value=0)  # Add s1 to s, filling missing values with 0

In [ ]:
s3

a     619.367825
a     278.994520
b     952.367825
b     952.367825
c    1520.993942
c    1285.367825
d     607.367825
d     712.115012
e     718.367825
e     718.367825
f     333.000000
g     444.000000
h     555.000000
i     666.000000
j     777.000000
dtype: float64

In [ ]:
np.random.seed(1)  # For reproducibility
s = Series(np.random.randint(0, 100, 50))

In [ ]:
s.describe()  # Get descriptive statistics of the Series

count    50.00000
mean     43.34000
std      31.64188
min       0.00000
25%      13.00000
50%      42.00000
75%      71.75000
max      96.00000
dtype: float64

In [ ]:
s.value_counts()

72    2
1     2
9     2
13    2
87    2
50    2
71    2
12    1
37    1
5     1
75    1
76    1
16    1
64    1
79    1
20    1
18    1
84    1
6     1
11    1
28    1
14    1
29    1
68    1
94    1
96    1
25    1
86    1
7     1
63    1
61    1
22    1
57    1
0     1
60    1
81    1
8     1
88    1
47    1
30    1
3     1
70    1
21    1
Name: count, dtype: int64

In [ ]:
s[s%10 == 0].value_counts()  # Count occurrences of even numbers

50    2
20    1
0     1
60    1
30    1
70    1
Name: count, dtype: int64

In [ ]:
def change_std(x):
    if x and x < s.mean():
        return x - 50
    return x + 50  # Square the values

In [ ]:
s.describe()  # Get descriptive statistics of the Series

count    50.00000
mean     43.34000
std      31.64188
min       0.00000
25%      13.00000
50%      42.00000
75%      71.75000
max      96.00000
dtype: float64

In [ ]:
s1 = s.apply(change_std)  # Apply the change_std function to each element

In [ ]:
s1.describe()  # Get descriptive statistics of the modified Series

count     50.000000
mean      45.340000
std       79.576843
min      -49.000000
25%      -36.750000
50%       73.500000
75%      121.750000
max      146.000000
dtype: float64

In [95]:
words = ["Solstice", "Mirth", "Galvanize", "Zephyr", "Luminous", "Quagmire", "Perennial", "Ephemeral", "Bastion", "Resonance"]
s = Series(words)

In [97]:
s[s.str.len() % 2 != 0] # Get the length of each string in the Series

1        Mirth
2    Galvanize
6    Perennial
7    Ephemeral
8      Bastion
9    Resonance
dtype: object

In [99]:
s[s.str.len() < s.str.len().mean()]

1      Mirth
3     Zephyr
8    Bastion
dtype: object

In [104]:
s[s.str.contains(r"(?=.*a)(?=.*e)", case=False)]

2    Galvanize
5     Quagmire
6    Perennial
7    Ephemeral
9    Resonance
dtype: object